body{
    background-color: rgb(24, 23, 23);
}

h1{
    font:  bold 50px "arial";
    color:rgb(69, 179, 238);
    text-align: center;
}

table{
margin: auto;
}

iframe{
    background-color: black;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

a{
    font: 25px "Calibri light";
    color: rgb(12, 235, 235);
    display: block;
    text-align: center;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
 }